body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: darkslategray;
    margin: 50px;
}

h1 {
    font-size: 3em;
    color: midnightblue;
    background-color: #E2B8AF;
    text-align: center;
    padding: 10px 3px 10px 3px;
}
h2 {
    font-size: 2em;
    background-color: peachpuff;
    margin: 0px;
    padding: 10px;
    border-style: solid;
    border-color: gray;
    border-width: 15px 2px 2px 15px;
}
a {
    color: black;
    text-decoration: underline;
}
img {
    border-style: solid;
    border-width: 15px 2px 2px 15px;
    border-color: gray;
}
table {
    margin: 20px;
    background-color: peachpuff;
}
#katt {
        font: 14px/1.5 "Times New Roman", times, serif;
        padding: 30px 10px;
        border: 1px black solid;
        border-width: 1px 5px 5px 1px;
        border-color: red green blue yellow;
        margin: 10px 50px;
    }
    #navigation {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
    }
    #content { 
        margin-left: 200px;
    }
    #footer {
        clear: both;
    }