body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: darkslategray;
    margin: 50px;
}

h1 {
    font-size: 3em;
    color: midnightblue;
    background-color: #E2B8AF;
    text-align: center;
    padding: 10px 3px 10px 3px;
}
h2 {
    font-size: 2em;
    background-color: peachpuff;
    margin: 0px;
    padding: 10px;
    border-style: solid;
    border-color: gray;
    border-width: 15px 2px 2px 15px;
}
a {
    color: black;
    text-decoration: underline;
}
img {
    border-style: solid;
    border-width: 15px 2px 2px 15px;
    border-color: gray;
}
table {
    margin: 20px;
    background-color: peachpuff;
}
#katt {
        background-color: #ccc;
        padding: 1em
    }
    
    #katt h3 {
        color: #ff0;
    }
    
    #katt p {
        color: red;
        font-weight: bold;
    }
}